.about__order {
    display: flex;
    flex-direction: column;
    width: 40%;
}

@media  (min-width:768px) and (max-width:1024px) {

.about__order {
text-align: justify;
width: 100%;
    }
}

@media (min-width:426px) and (max-width:767px)  {
.about__order {
    width: 100%;
}
}

