.contact__flex {
    display: flex;
    flex-direction: column;
    width: 250px;
    }

    @media  (min-width:768px) and (max-width:1024px) {
.contact__flex {
    display: none;
}

    }


    @media (min-width:426px) and (max-width:767px)  {
        .contact__flex {
            display: none;
        }
        }