.services__item {
    min-width: 295px;
    height: 330px;
    border: 1px solid rgba(230, 230, 230, 1);
    padding: 23px 38px;
    box-sizing: border-box;
    }

@media  (min-width:768px) and (max-width:1024px) {
    .services__item {
min-width: 220px;
height: auto;
padding: 20px 25px;
margin-right: 5px;
}

.services__item:last-child {
    margin-right: 0;
}
}


@media (min-width:426px) and (max-width:767px)  {
.services__item {
    min-width: 295px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.services__item:last-child {
    margin-bottom: 0;
}
}